In [3]:
import pandas_datareader.data as pddata

In [43]:
import numpy as np
import statsmodels.api as sm
from scipy import stats

In [28]:
help(pddata.DataReader)

Help on function DataReader in module pandas_datareader.data:

DataReader(name, data_source=None, start=None, end=None, retry_count=3, pause=0.001, session=None, access_key=None)
    Imports data from a number of online sources.

    Currently supports Google Finance, St. Louis FED (FRED),
    and Kenneth French's data library, among others.

    Parameters
    ----------
    name : str or list of strs
        the name of the dataset. Some data sources (google, fred) will
        accept a list of names.
    data_source: {str, None}
        the data source ("google", "fred", "ff")
    start : {datetime, None}
        left boundary for range (defaults to 1/1/2010)
    end : {datetime, None}
        right boundary for range (defaults to today)
    retry_count : {int, 3}
        Number of times to retry query request.
    pause : {numeric, 0.001}
        Time, in seconds, to pause between consecutive queries of chunks. If
        single value given for symbol, represents the pause between retries.
    session : Session, default None
        requests.sessions.Session instance to be used
    access_key : (str, None)
        Optional parameter to specify an API key for certain data sources.

    Examples
    ----------
    # Data from Google Finance
    aapl = DataReader("AAPL", "google")

    # Price and volume data from IEX
    tops = DataReader(["GS", "AAPL"], "iex-tops")
    # Top of book executions from IEX
    gs = DataReader("GS", "iex-last")
    # Real-time depth of book data from IEX
    gs = DataReader("GS", "iex-book")

    # Data from FRED
    vix = DataReader("VIXCLS", "fred")

    # Data from Fama/French
    ff = DataReader("F-F_Research_Data_Factors", "famafrench")
    ff = DataReader("F-F_Research_Data_Factors_weekly", "famafrench")
    ff = DataReader("6_Portfolios_2x3", "famafrench")
    ff = DataReader("F-F_ST_Reversal_Factor", "famafrench")

In [29]:
api_key = "sY8rR9LTz4kT5z2cs94v"

In [30]:
india_cem = pddata.DataReader('INDIACEM.IN','quandl','2013-04-01','2018-05-31',access_key=api_key).sort_index()

In [31]:
india_cem['Cumulative Ret'] = india_cem['Close']/india_cem.iloc[0]['Close']

In [32]:
india_cem.head()

,Open,High,Low,Last,Close,TotalTradeQuantity,TurnoverLacs,Cumulative Ret
Date,,,,,,,,
2013-04-01,84.85,85.5,83.50,85.50,85.20,199895.0,169.01,1.000000
2013-04-02,84.00,85.8,82.65,85.10,85.10,314894.0,265.10,0.998826
2013-04-03,85.15,85.5,82.55,82.95,83.05,264056.0,221.50,0.974765
2013-04-04,82.00,82.9,79.85,80.75,80.35,752948.0,615.70,0.943075
2013-04-05,80.00,82.5,78.40,81.35,81.90,1169602.0,943.28,0.961268

In [58]:
india_cem['Daily returns'] = np.log(india_cem['Close']/india_cem['Close'].shift(1))

In [59]:
india_cem.head()

,Open,High,Low,Last,Close,TotalTradeQuantity,TurnoverLacs,Cumulative Ret,Daily returns
Date,,,,,,,,,
2013-04-01,84.85,85.5,83.50,85.50,85.20,199895.0,169.01,1.000000,NaN
2013-04-02,84.00,85.8,82.65,85.10,85.10,314894.0,265.10,0.998826,-0.001174
2013-04-03,85.15,85.5,82.55,82.95,83.05,264056.0,221.50,0.974765,-0.024384
2013-04-04,82.00,82.9,79.85,80.75,80.35,752948.0,615.70,0.943075,-0.033051
2013-04-05,80.00,82.5,78.40,81.35,81.90,1169602.0,943.28,0.961268,0.019107

In [73]:
mean_ret = ret.mean()

In [74]:
ret

Date
2013-04-01    NaN
2013-04-02    0.0
2013-04-03    0.0
2013-04-04    0.0
2013-04-05    0.0
2013-04-08    0.0
2013-04-09    0.0
2013-04-10    0.0
2013-04-11    0.0
2013-04-12    0.0
2013-04-15    0.0
2013-04-16    0.0
2013-04-17    0.0
2013-04-18    0.0
2013-04-22    0.0
2013-04-23    0.0
2013-04-25    0.0
2013-04-26    0.0
2013-04-29    0.0
2013-04-30    0.0
2013-05-02    0.0
2013-05-03    0.0
2013-05-06    0.0
2013-05-07    0.0
2013-05-08    0.0
2013-05-09    0.0
2013-05-10    0.0
2013-05-11    0.0
2013-05-13    0.0
2013-05-14    0.0
             ...
2018-04-19    0.0
2018-04-20    0.0
2018-04-23    0.0
2018-04-24    0.0
2018-04-25    0.0
2018-04-26    0.0
2018-04-27    0.0
2018-04-30    0.0
2018-05-02    0.0
2018-05-03    0.0
2018-05-04    0.0
2018-05-07    0.0
2018-05-08    0.0
2018-05-09    0.0
2018-05-10    0.0
2018-05-11    0.0
2018-05-14    0.0
2018-05-15    0.0
2018-05-16    0.0
2018-05-17    0.0
2018-05-18    0.0
2018-05-21    0.0
2018-05-22    0.0
2018-05-23    0.0
2018-05-24    0.0
2018-05-25    0.0
2018-05-28    0.0
2018-05-29    0.0
2018-05-30    0.0
2018-05-31    NaN
Name: Close, Length: 1278, dtype: float64

In [65]:
mean_ret

0.00033057817325937965

In [67]:
help(stats.ttest_1samp)

Help on function ttest_1samp in module scipy.stats.stats:

ttest_1samp(a, popmean, axis=0, nan_policy='propagate')
    Calculate the T-test for the mean of ONE group of scores.

    This is a two-sided test for the null hypothesis that the expected value
    (mean) of a sample of independent observations `a` is equal to the given
    population mean, `popmean`.

    Parameters
    ----------
    a : array_like
        sample observation
    popmean : float or array_like
        expected value in null hypothesis, if array_like than it must have the
        same shape as `a` excluding the axis dimension
    axis : int or None, optional
        Axis along which to compute test. If None, compute over the whole
        array `a`.
    nan_policy : {'propagate', 'raise', 'omit'}, optional
        Defines how to handle when input contains nan. 'propagate' returns nan,
        'raise' throws an error, 'omit' performs the calculations ignoring nan
        values. Default is 'propagate'.

    Returns
    -------
    statistic : float or array
        t-statistic
    pvalue : float or array
        two-tailed p-value

    Examples
    --------
    >>> from scipy import stats

    >>> np.random.seed(7654567)  # fix seed to get the same result
    >>> rvs = stats.norm.rvs(loc=5, scale=10, size=(50,2))

    Test if mean of random sample is equal to true mean, and different mean.
    We reject the null hypothesis in the second case and don't reject it in
    the first case.

    >>> stats.ttest_1samp(rvs,5.0)
    (array([-0.68014479, -0.04323899]), array([ 0.49961383,  0.96568674]))
    >>> stats.ttest_1samp(rvs,0.0)
    (array([ 2.77025808,  4.11038784]), array([ 0.00789095,  0.00014999]))

    Examples using axis and non-scalar dimension for population mean.

    >>> stats.ttest_1samp(rvs,[5.0,0.0])
    (array([-0.68014479,  4.11038784]), array([  4.99613833e-01,   1.49986458e-04]))
    >>> stats.ttest_1samp(rvs.T,[5.0,0.0],axis=1)
    (array([-0.68014479,  4.11038784]), array([  4.99613833e-01,   1.49986458e-04]))
    >>> stats.ttest_1samp(rvs,[[5.0],[0.0]])
    (array([[-0.68014479, -0.04323899],
           [ 2.77025808,  4.11038784]]), array([[  4.99613833e-01,   9.65686743e-01],
           [  7.89094663e-03,   1.49986458e-04]]))

In [70]:
stats.ttest_1samp(ret,0)

c:\users\uday\appdata\local\programs\python\python36-32\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
c:\users\uday\appdata\local\programs\python\python36-32\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
c:\users\uday\appdata\local\programs\python\python36-32\lib\site-packages\scipy\stats\_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

Ttest_1sampResult(statistic=nan, pvalue=nan)