### Autoregressive Integrated Moving Averages modelling

This is my first go at ARIMA modelling and therefore wanted to use a relevant dataset for that. Luckily I got a really good one here.

The data: Total CO2 emissions(in kilotons) in India from all sources aggregated, computed annually from the year 1965. Unfortunately, there's no data post 2016. Will manually add that later.

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
import quandl
# set api key
quandl.ApiConfig.api_key = "sY8rR9LTz4kT5z2cs94v"

In [24]:
df_co2 = quandl.get('BP/C02_EMMISSIONS_IND')

In [27]:
df_co2.head()

                 Value
Date
1965-12-31  167.716820
1966-12-31  170.332348
1967-12-31  174.811433
1968-12-31  182.894821
1969-12-31  197.863155

                  Value
Date
2012-12-31  1872.782853
2013-12-31  1933.144126
2014-12-31  2085.858422
2015-12-31  2157.397957
2016-12-31  2271.110495